* {
  box-sizing: border-box;
}

li{
  background-color: #eac9be;
}

body{
  background-color:black;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding:20px;
  background-color:white;
}

.begin-add-bookmark{
  float: left;
  padding: 10px;
}

button,select, input{
  border:2px solid black;
}

button:hover, button:focus, select:hover, select:focus{
  cursor: pointer;
  color: #eac9be;
  background-color: black;
  border:2px solid #eac9be;
}

.filter-rating-dropdown{
  float:right;
  height:40px;
}

select:hover{
  cursor: pointer;
}

.bookmark-list{
  list-style:none;
  padding-top:20px;
  padding-left:0;
}

.bookmark-list li {
  margin-bottom: 20px;
  border: 5px solid black;
  border-radius:10px;
}

li div{
  padding:20px;
}
.adding-new-bookmark-form{
  clear: both;
  border: 5px solid black;
  margin-top: 10px;
  padding:10px;
  position: relative;
  top:40px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #eac9be;
}

input,textarea, button, select{
  margin-top:10px;
  text-align: center;
}

.error-message, .edit-error-message{
  color:red;
}

.bookmark-title, .edit-bookmark-title-p  {
  background-color: black;
  color: white;
  margin: 0;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left:20px;
  font-weight: bold;
  text-align: left;
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
}

a{
  background-color:black;
  color: white;
  border: 2px solid black;
  text-decoration: none;
  padding:10px;
}

a:hover{
  background-color:white;
  color:black;
}

.delete-bookmark, .edit-bookmark {
  float:right;
  margin-right: 20px;
  margin-top:20px;
  background-color: transparent;
  border: none;
  color:white;
}

.delete-bookmark:hover{
  background-color: transparent;
  color: lightcoral;
  border: none;
}

.edit-bookmark:hover{
  background-color: transparent;
  color: #eac9be;
  border: none;
}

.details{
  cursor: pointer;
  color:gray;
}

.number-of-items{
  clear:both;
  padding-top:20px;
  font-weight: bold;
}

label{
  font-weight: bold;
}

form button{
  padding:10px;
}

.editing-form button{
  margin-bottom:10px;
}

input,textarea{
  width:70%;
}

button,select{
  border-radius: 10px;
}

h1{
  text-shadow: 2px 2px #eac9be;
}