* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding:20px;
}

.begin-add-bookmark{
  float: left;
  padding: 10px;
}

button:hover{
  cursor: pointer;
  background-color: gray;
}

.filter-rating-dropdown{
  float:right;
  height:40px;
}

.filter-rating-dropdown:hover{
  cursor: pointer;
}

.bookmark-list{
  list-style:none;
  padding-top:20px;
  padding-left:0;
}

.bookmark-list li {
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius:10px;
}

li div{
  padding:20px;
}
.adding-new-bookmark-form{
  clear: both;
  border: 1px solid black;
  margin-top: 10px;
  padding:10px;
  position: relative;
  top:40px;
  margin-bottom: 40px;
  border-radius: 10px;
}

input,textarea, button, select{
  margin-top:10px;
  text-align: center;
}

.error-message{
  color:red;
}

.bookmark-title {
  background-color: black;
  color: white;
  margin: 0;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left:20px;
  font-weight: bold;
  text-align: left;
  border-radius: 10px;
}

a{
  background-color:black;
  color: white;
  text-decoration: none;
  padding:10px;
}

.delete-bookmark, .edit-bookmark {
  float:right;
  margin-right: 20px;
  margin-top:20px;
  background-color: transparent;
  border: none;
  color:white;
}

.delete-bookmark:hover{
  background-color: transparent;
  color: lightcoral;
}

.edit-bookmark:hover{
  background-color: transparent;
  color: lightblue;
}

.details{
  cursor: pointer;
  color:gray;
}

.number-of-items{
  clear:both;
  padding-top:20px;
}

/* Everything below deals with having radio button as star: */
